.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    
  }
  
  .booking-page > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  