.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px 24px;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 100px;
}

.navigation .ant-menu-item {
  font-size: 16px;
  font-weight: 500;
  margin-right: 24px;
}

.navigation .ant-menu-item.ant-menu-item-active {
  color:  #020286;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart_icon .ant-badge-count {
  background-color: #020286;
  color: #fff;
}

.user,
.mobile_menu {
  font-size: 24px;
  color: #020286;
}
