/* google fonts */

@import url('https://fonts.gstatic.com/s/arialnova/v2/w8jbW7Css5ICemMExb3y5d4Lw8D.woff2');
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman+Vietnamese&display=swap');
/* reset default style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */

body {
  background: #fcfcfc;
  font-family: "Arial Vietnamese", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman Vietnamese", sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #212245;
}

section {
  padding: 60px 0px;
}
